<section id="post-cont">
  {{#each post}}
  <div class="post">
    {{#if ../user.isMember}}
    <div class="hflex post-header">
      <p class="author">{{this.author.username}}</p>
    {{#if ../user.isAdmin}}
    <form action="/delete-post" method="POST">
      <input type="hidden" name="id" value={{this.id}}>
      <button type="submit">Delete this post</button>
    </form> 
    {{/if}}
    </div>
    {{else}}
    <div class="post-header">
      <p class="author">名無しさん＠どーでもいいことだが</p>
    </div>
    {{/if}}
    <p class="body">{{this.body}}</p>
    <p class="timestamp">{{this.date}}</p>
  </div>
  {{else}}
  <p>No posts found.</p>
  {{/each}}
</section>
